/* back button spacing from theme button */
#backButton {
    margin-right: 40px;
}

/* place holder for mainImg light and dark */
#mainImg {
    display: none;
}

/* these elements are all created in blog.js */
.blogContainer {
    position: relative;
    border: solid;
    margin: 20px;
    padding: 10px;
    min-height: 100px;
}

.blogTitle {
    border-bottom: solid;
    padding-bottom: 5px;
}

.blogContent {
    margin-bottom: 20px;
    padding: 10px 25px 10px 25px;
    font-style: italic;
}

.blogAuthor {
    position: absolute;
    bottom: 0;
    padding: 5px;
}

/* styles link to my portfolio */
footer {
    display: flex;
    justify-content: center;
    border-top: double 8px;
    padding: 20px;
}

footer p {
    margin-right: 10px;
}

#portfolioLink {
    padding: 5px;
}

#portfolioLink > a {
    text-decoration: none;
    color: inherit;
}