main {
    display: flex;
}

/* mainImg and form containers */
.containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 25px;
}

/* text above mainImg */
.imgH2 {
    font-size: xx-large;
    font-family: 'Lucida Handwriting', cursive, Verdana;
    font-style: italic;
}

#mainImg {
    width: 100%;
    max-width: 600px;
    border-radius: 50%;
    margin: 25px;
}

form {
    display: flex;
    flex-direction: column; 
    width: 100%;
    max-width: 800px;
    margin: 25px;
}

label {
    padding: 12px 5px 5px 5px;
}

input {
    padding: 5px;
}

/* textarea can be stretched verticaly only */
textarea {
    resize: vertical;
    min-width: none;
    padding: 5px;
}

/* alerts that pop up when no input was entered */
#alerts {
    min-height: 30px;
    padding-top: 10px;
    align-self: center;
    color: red;
    font-size: large;
}

/* submit button on form */
#submit {
    align-self: center;
    margin-top: 10px;
    width: 200px;
}

/* changes to stacked containets an 100% width */
@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .containers {
        width: inherit;
    }  
}