/* This css applies to both the form & blog html pages */
:root {
    /* light color theme */
    --l-bg: white;
    --l-font: black;
    --l-btn-bg: slategray;
    --l-btn-bgH: #2e4766; 
    --l-btn-font: white;
    /* dark color theme */
    --d-bg: #2e4766;
    --d-font: white;
    --d-btn-bg: #e3e5ec;
    --d-btn-bgH: white; 
    --d-btn-font: #2e4766;
}

/* light & dark color themes */
.light {
    background-color: var(--l-bg);
    color: var(--l-font);
}

.dark {
    background-color:var(--d-bg);
    color: var(--d-font);
}

/* header and nav settings */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: double 8px;
    min-height: 80px;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
}

header h1 {
    margin-left: 20px;
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* theme button */
#themeButton {
    padding: 5px;
}

#themeButtonImg {
    width: 20px;
}

/* all buttons light & dark mode*/
.light button {
    color: var(--l-btn-font);
    background-color: var(--l-btn-bg);
    border-radius: 10px;
    box-shadow: 0 2px 4px var(--l-btn-bg);
    white-space: nowrap;
    padding: 10px;       
}

.dark button {
    color: var(--d-btn-font);
    background-color: var(--d-btn-bg);
    border-radius: 10px;
    box-shadow: 0 2px 4px var(--d-btn-bg);
    white-space: nowrap;
    padding: 10px;  
}


/* only allows hover function on hover devices */
@media (hover: hover) {
    .light button:hover {
        background-color: var(--l-btn-bgH);
        cursor: pointer;
    }

    .dark button:hover {
        background-color: var(--d-btn-bgH);
        cursor: pointer;
    }
}