/* This css applies to both the form & blog html pages */

/* light & dark color themes */
.light {
    background-color: white;
    color: black;
}

.dark {
    background-color:#2e4766;
    color: #e3e5ec;
}

/* header and nav settings */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: double 8px;
    min-height: 80px;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
}

header h1 {
    margin-left: 20px;
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* theme button */
#themeButton {
    padding: 5px;
}

#themeButtonImg {
    width: 20px;
}

/* all buttons light */
.light button {
    color: #e3e5ec;
    background-color: slategray;
    border-radius: 10px;
    box-shadow: 0 2px 4px darkslategray;
    white-space: nowrap;
    padding: 10px;       
}

.light button:hover {
    background-color: black;
    cursor: pointer;
}

/* all buttons dark */
.dark button {
    color: black;
    background-color: #e3e5ec;
    border-radius: 10px;
    box-shadow: 0 2px 4px #e3e5ec;
    white-space: nowrap;
    padding: 10px;  
}

.dark button:hover {
    background-color: white;
    cursor: pointer;
}